---
- name: Deploy Uptime Kuma Monitoring
  hosts: monitoring
  remote_user: pi
  become: true

  pre_tasks:
    - name: Ensure locale exists
      community.general.locale_gen:
        name: "{{ item }}"
      with_items:
        - en_US.UTF-8
        - de_DE.UTF-8
    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"
    - name: Ensure hostname is in /etc/hosts
      lineinfile:
        path: /etc/hosts
        regexp: '^127\.0\.1\.1'
        line: "127.0.1.1 {{ inventory_hostname }}"
        state: present

    - name: Set timezone to Europe/Berlin
      community.general.timezone:
        name: Europe/Berlin

    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"

    - name: Import SSH keys for pi user
      ansible.posix.authorized_key:
        user: pi
        key: https://github.com/{{ item }}.keys
        comment: "{{ item }}"
      ignore_errors: true
      with_items:
        - igami
        - leon2225
        - mattn81
        - ReneHezser
        - nielsfechtel

  roles:
    - role: base-setup

    - role: weareinteractive.apt
      vars:
        apt_upgrade: dist
        apt_unattended_upgrades_automatic_reboot: yes
        apt_unattended_upgrades_automatic_reboot_time: 02:00

    - role: tailscale

    - role: security

    - role: nickjj.docker

    - role: uptime-kuma

    # not in use with tailscale funnel
    #- role: caddy
