[storagebox]
type = sftp
host = {{ backup_storagebox_host }}
user = {{ backup_storagebox_user }}
port = {{ backup_storagebox_port }}
key_file = {{ backup_scripts_dir }}/storagebox_key
shell_type = unix
