---
- name: Install security packages
  apt:
    name:
      - ufw
      - fail2ban
    state: present

- name: Configure UFW - Allow SSH
  community.general.ufw:
    rule: allow
    port: "22"
    proto: tcp
    comment: "SSH"

- name: Configure UFW - Allow HTTP
  community.general.ufw:
    rule: allow
    port: "80"
    proto: tcp
    comment: "HTTP"

- name: Configure UFW - Allow HTTPS
  community.general.ufw:
    rule: allow
    port: "443"
    proto: tcp
    comment: "HTTPS"

- name: Configure UFW - Set default deny incoming
  community.general.ufw:
    default: deny
    direction: incoming

- name: Configure UFW - Set default allow outgoing
  community.general.ufw:
    default: allow
    direction: outgoing

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Configure fail2ban for SSH
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime = 3600
      findtime = 600
      maxretry = 5

      [sshd]
      enabled = true
      port = ssh
      logpath = /var/log/auth.log
    mode: "0644"
  notify: Restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: yes
    state: started

- name: Ensure SSH key-based auth is working
  wait_for:
    timeout: 5
  delegate_to: localhost
  
- name: Disable password authentication for SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  notify: Restart SSH

- name: Disable root login via SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present
  notify: Restart SSH
