Host {{ lima_city_storagebox_alias }}
    HostName {{ lima_city_storagebox_host }}
    User {{ lima_city_storagebox_user }}
    Port {{ lima_city_storagebox_port }}
    IdentityFile ~/.ssh/id_ed25519
    StrictHostKeyChecking yes
